<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/fondo-1.webp');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Desarrollo de software a medida y consultoría TI</h1>
      </div>
    </div>
  </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">¿Por qué elegirnos?</h2>
            <h5 class="description">Brindamos a nuestros clientes un servicio de calidad donde tendrán garantía que van a recibir una solución acorde a sus expectativas cumpliendo con los estándares de calidad y seguridad necesarios.</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
                <div class="image-container image-left" style="background-image: url('assets/img/dispositivos-3.webp')">
                  <!-- First image on the left side -->
                  <p class="blockquote blockquote-primary">"No es sobre las ideas. Sino sobre hacer que estas se vuelvan realidad."
                    <br>
                    <br>
                    <small>-Scott Belsky, Cofundador de Behance.</small>
                  </p>
                </div>
                <!-- Second image on the left side of the article -->
                <div class="image-container" style="background-image: url('assets/img/questions.webp')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('assets/img/idea.webp')"></div>
              <h3>Tú lo imaginas nosotros lo creamos para ti</h3>
              <p>Un servicio de desarrollo de sistemas, aplicaciones, páginas web o cualquier tipo de software que permite a un particular o empresa contar con un equipo altamente experimentado.
              </p>
              <p>Ofrecemos una experiencia de calidad, protegiendo los datos sensibles, respondiendo rápidamente a las necesidades del mercado, creando software operativos.
              </p>
              <p>Otorgamos a las empresas la capacidad de tercerizar proyectos de desarrollo de software que permite a los trabajadores de la empresa contratante centrarse en sus respectivas actividades.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Nuestros servicios</h2>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Landing page</h5>
                    <p class="card-text">Es una página web que sirve para convertir al visitante en lead por medio de un llamado a la acción (CTA). Puede incluir un formulario y otras formas de captación, de acuerdo con su objetivo particular.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Tienda Online</h5>
                    <p class="card-text">Es un sitio web diseñado especialmente para vender productos u ofrecer servicios mediante el comercio electrónico. Permite exhibir su mercancía 24/7 y desde cualquier lugar.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Aplicación móvil</h5>
                    <p class="card-text">Es un tipo de aplicación diseñada para ejecutarse en un dispositivo móvil, que puede ser un teléfono inteligente o una tableta. Pueden ser en lenguaje nativo o híbridas, en sistemas operativos Android o IOS.</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Desarrollo a Medida</h5>
                  <p class="card-text">Se trata de un programa informático completamente personalizado para una empresa y, por tanto, se encuentra diseñado para satisfacer todas las necesidades de dicho negocio.</p>
                  <ul class="card-text text-left">
                    <li>Integraciones API.</li>
                    <li>Sistemas de gestión.</li>
                    <li>Reservas.</li>
                    <li>Contabilidad.</li>
                    <li>Sistemas de aprendizaje.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Consultoria</h5>
                  <ul class="card-text text-left">
                    <p class="card-text">A través de la consultoría IT, ayudamos a otras organizaciones a crear una cultura tecnológica, a avanzar hacia el conocimiento y orientarse a la digitalización de sus procesos de negocio de una forma natural.</p>
                    <li>Metodologias de desarrollo ágiles.</li>
                    <li>Coach ágil.</li>
                    <li>Liderazgo.</li>
                    <li>E-commerce.</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="card">
            <h2 class="card-header bg-secondary text-center text-uppercase">Contacto</h2>
            <p class="description">Su proyecto es muy importante para nosotros</p>
            <form [formGroup]="contact" (ngSubmit)="sendEmail()">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" [class.is-valid]="this.contact.get('name')?.valid"
                  [class.is-invalid]="this.contact.get('name')?.invalid && (this.contact.get('name')?.touched || validateFormContact)" 
                  formControlName="name"  id="name" aria-describedby="nameHelp" required>
                <div id="validationName" class="invalid-feedback" *ngIf="this.contact.get('name')?.invalid && (this.contact.get('name')?.touched || validateFormContact)">
                  Por favor, ingrese su nombre.
                </div>
              </div>
              <div class="form-group">
                <label for="phone">Teléfono</label>
                <input type="phone" class="form-control" [class.is-valid]="this.contact.get('phone')?.valid"
                  [class.is-invalid]="this.contact.get('phone')?.invalid && (this.contact.get('phone')?.touched || validateFormContact)" 
                  formControlName="phone" id="phone" aria-describedby="phoneHelp" required>
                <div id="validationPhone" class="invalid-feedback" *ngIf="this.contact.get('phone')?.invalid && (this.contact.get('phone')?.touched || validateFormContact)">
                  Por favor, ingrese su número de teléfono.
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" [class.is-valid]="this.contact.get('email')?.valid"
                  [class.is-invalid]="this.contact.get('email')?.invalid && (this.contact.get('email')?.touched || validateFormContact)" 
                  formControlName="email" id="email" aria-describedby="emailHelp" required>
                <div id="validationEmail" class="invalid-feedback" *ngIf="this.contact.get('email')?.invalid && (this.contact.get('email')?.touched || validateFormContact)">
                  Por favor, ingrese su correo electrónico.
                </div>
              </div>
              <div class="form-group">
                <label for="message">Mensaje</label>
                <textarea class="form-control" [class.is-valid]="this.contact.get('message')?.valid" 
                  [class.is-invalid]="this.contact.get('message')?.invalid && (this.contact.get('message')?.touched || validateFormContact)" 
                  formControlName="message" id="message" rows="3" aria-describedby="messageHelp" required></textarea>
                <div id="validationMessage" class="invalid-feedback" *ngIf="this.contact.get('message')?.invalid && (this.contact.get('message')?.touched || validateFormContact)">
                  Por favor, ingrese su mensaje con el detalle de su solicitud.
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>{{botonForm}}</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  