<div class="container">
  <div class="row">
    <div class="card">
        <h2 class="card-header bg-dark text-center text-uppercase">Información legal</h2>
        <div class="card-body">
         <p>
            En cumplimiento del <b>artículo 10 de la Ley 34/2002</b> , de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSI) se exponen los datos identificativos de la empresa.
         </p> 
         <ul>
          <li> <b class="text-uppercase">INFORMACIÓN DE LA SOCIEDAD:</b> Jessica Roa</li>
          <li><b class="text-uppercase">CIF:</b> </li>
          <li><b class="text-uppercase">Nombre comercial:</b></li>
          <li><b class="text-uppercase">DATOS DE CONTACTO:</b></li>
          <li><b class="text-uppercase">TELEFONO:</b></li>
          <li><b class="text-uppercase">CORREO ELECTRONICO:</b></li>
          <li><b class="text-uppercase">DOMINIO EN INTERNET:</b></li>
         </ul>
          
         <h4 class="text-uppercase">Datos Registrales:</h4> 

         <p>
           Registro Mercantil de Barcelona, ante el Notario xxxxxxx, con el número xxxxx de protocolo. Tomo xxxxxx, Folio xxxxx, Hoja xxxxx, Inscripción xxxxxx.
         </p>
          
        <h4 class="text-uppercase">ACTIVIDADES:</h4>  
          <ul>
            <li>
              <b>NOMBRE EMPRESA</b>, tiene por objeto y actividades el diseño, desarrollo y venta de software, la prestación de servicios informático, hosting, mantenimiento de portales web, marketing on-line, la consultoría informática y el diseño gráfico.
            </li>
            <li>
              Todos los derechos derivados de la propiedad intelectual e industrial están expresamente reservados por <b>NOMBRE EMPRESA</b>. 
            </li>
            <li>
              El código fuente, los diseños gráficos, las imágenes, las fotografías, los textos, las marcas, así como la información y los contenidos recogidos a lo largo de toda la web están protegidos por la legislación española a favor de <b>NOMBRE EMPRESA</b>.
            </li>
            <li>
              <b>NOMBRE EMPRESA</b> no permite, ni total o ni parcialmente, la reproducción, publicación, tratamiento informático, distribución difusión, modificación, transformación o descompliación ni demás derechos reconocidos legalmente a su titular, sin el permiso previo y por escrito. El usuario, única y exclusivamente, puede utilizar el material que aparezca en este sitio web para su uso personal y privado, quedando prohibido su uso con fines comerciales o cualquier otro uso que no sea personal y privado, a excepción de distribuidores autorizados.
            </li>
            <li>
              <b>NOMBRE EMPRESA</b>  velará por el cumplimiento de las anteriores condiciones como por la debida utilización de su propiedad intelectual e industrial ejercitando todas las acciones legales que le correspondan.
            </li>
            <li>
              <b>NOMBRE EMPRESA</b>  podrá modificar, sin previo aviso, la información contenida en su sitio web, así como su configuración y presentación.
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>