<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="legal-information">
                        Información legal
                    </a>
                </li>
                <li>
                    <a href="privacy-policy">
                        Politica de Privacidad
                    </a>
                </li>
                <li>
                    <a href="cookies-policy">
                        Politicas de cookies
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Designed by Jessica Roa
        </div>
    </div>
  </footer>