<div class="container">
  <h2 class="title text-center">Algunos Proyectos</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div id="carouselEducampus" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselEducampus" data-slide-to="0" class="active"></li>
            <li data-target="#carouselEducampus" data-slide-to="1"></li>
            <li data-target="#carouselEducampus" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/Projects/educampus/educampus1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/educampus/educampus2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/educampus/educampus3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselEducampus" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselEducampus" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">Educampus</h5>
          <p class="card-text">Interfaz web que se comunica a traves de la API de un LMS para rederizar contenido de cursos.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div id="carouselScorm" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselScorm" data-slide-to="0" class="active"></li>
            <li data-target="#carouselScorm" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/Projects/scorm/scorm1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/scorm/scorm2.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselScorm" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselScorm" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">Interfaz para paquetes SCORM</h5>
          <p class="card-text">Interfaz web para control de avance de un estudiante dentro de un paquete SCORM.</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div id="carouselVendedores" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselVendedores" data-slide-to="0" class="active"></li>
            <li data-target="#carouselVendedores" data-slide-to="1"></li>
            <li data-target="#carouselVendedores" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/Projects/vendedores_kel/vendedores1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/vendedores_kel/vendedores2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/vendedores_kel/vendedores3.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselVendedores" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselVendedores" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">Sistema de ventas online/offline</h5>
          <p class="card-text">Sistemas de control de ventas que permite realizar la carga de un pedido desde el telefono celular sin contar con conexión a internet, para posterior sincronización con la BD al tener conexión. Control de stock, carga de productos y reporteria.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div id="carouselKel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselKel" data-slide-to="0" class="active"></li>
            <li data-target="#carouselKel" data-slide-to="1"></li>
            <li data-target="#carouselKel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/Projects/industriaskel/industriaskel.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/industriaskel/industriaskelreceta.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/industriaskel/industriaskelnoticias.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselKel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselKel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">Industrias KEL</h5>
          <p class="card-text">Lading page para empresa productora de alimentos con sección de listado de productos, recetas y noticias.</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div id="carouselHbr" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselHbr" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHbr" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/Projects/hrbintel/hrbintel1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/hrbintel/hrbintel2.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselHbr" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselHbr" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">H&R Bintel</h5>
          <p class="card-text">Landing page multilingüe para empresa de logistica.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div id="carouselMercaito" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselMercaito" data-slide-to="0" class="active"></li>
            <li data-target="#carouselMercaito" data-slide-to="1"></li>
            <li data-target="#carouselMercaito" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/Projects/mercaito/mercaito1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/mercaito/mercaito2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/Projects/mercaito/mercaito3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselMercaito" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselMercaito" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">El mercaito envios</h5>
          <p class="card-text">Tienda online para la compra de productos con carrito de compras.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>