<p>INFORMACIÓN AL USUARIO
  DISEÑO Y DESARROLLO DE PROYECTOS Q2B, S.L., le informa que mediante las cookies utilizadas no se va a obtener ni almacenar datos personales del usuario.
  
  ¿QUÉ SON LAS COOKIES?
  Las cookies son pequeños archivos de texto colocados en su dispositivo para almacenar datos que provienen de un servidor web, del dominio donde se colocó la cookie. Las cookies y tecnologías similares se utilizan para almacenar un rastro de su visita en nuestra web.
  
  PARA COMPRENDER MEJOR PORQUE UTILIZAMOS LAS COOKIES LEE EL ORIGEN DE LA PALABRA BASADO EN UN CUENTO:
  El cuento de Hansel y Gretel en el que los dos hermanos dejaban un rastro de migas de galletas para ser capaces de encontrar el camino de vuelta. Esto convertía a las migas de galleta en fuentes de información para los hermanos, al igual que lo es una cookie informática.
  
  ¿QUÉ COOKIES SE UTILIZAN EN NUESTRA WEB?
  1- Este servicio nos lo proporciona Google
  
  Razón Social de la empresa: Google Ireland, Ltd.
  
  Google Analytics es una: herramienta de analítica web que permite a los propietarios de sitios saber el grado de implicación de los usuarios con su página web. Los clientes de Google Analytics pueden consultar varios informes en los que se describe cómo interactúan los usuarios que visitan sus sitios web con el propósito de mejorarlos. Google Analytics recaba información de forma anónima, es decir, informa de las tendencias del sitio sin identificar a sus usuarios.
  
  Todos los propietarios de sitios web que utilicen Google Analytics deben contar con una política de privacidad en la que se especifique el uso de Google Analytics.
  
  Información sobre Google Analytics www.google.com/analytics/
  
  Privacidad www.google.es/intl/es/analytics/privacyoverview.html
  
  2- Este servicio nos lo facilita Google
  
  Razón Social de la empresa: Google Ireland, Ltd.
  
  Google Adwords es una: herramienta de publicidad cuya función de remarketing o públicos similares de AdWords le permite mostrar sus anuncios a las personas que hayan visitado su página web con anterioridad, con lo que puede ofrecer el mensaje perfecto al público más idóneo, informa de las tendencias del sitio sin identificar a sus usuarios.
  
  Información sobre Adwords http://adwords.google.es/
  
  Privacidad https://support.google.com/adwordspolicy/
  
  3- Este servicio nos lo facilita Google
  
  Razón Social de la empresa: Google Ireland, Ltd.
  
  Doubleclick.net de Google, permite realizar de forma efectiva el remarketing y configurar diferentes anuncios en relación a la página visitada en nuestro página web con el propósito de mostrar la información más adecuada al visitante ofreciendo el mensaje perfecto al público más idóneo.
  
  Información sobre Doubleclick.net de Google Adwords
  
  http://www.google.com/doubleclick/insights/
  
  Privacidad https://support.google.com/adwordspolicy
  
  ¿CÓMO PUEDES ELIMINAR LAS COOKIES?
  Para permitir, conocer, bloquear o eliminar las cookies instaladas en tu equipo puedes hacerlo mediante la configuración de las opciones del navegador instalado en su ordenador.
  
  Puedes encontrar información sobre cómo hacerlo en el caso que uses como navegador:
  
  Firefox desde aquí: http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-quelos-sitios-we
  
  Chrome desde aquí: http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647
  
  Explorer desde aquí: http://windows.microsoft.com/es-es/windows7/how-to-managecookies-in-internet-explorer-9
  
  Safari desde aquí: http://support.apple.com/kb/ph5042
  
  Opera desde aquí: http://help.opera.com/Windows/11.50/es-ES/cookies.html</p>
